*{
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.banner{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(120deg,rgba(103,58,183,0.5),rgba(103,58,183,0.5)) ,url("bg.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.navbar{
    width:80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    flex-basis: 15%;
    cursor: pointer;
}
.logo img{
    width: 100px;

}

nav,.navbar ul{
    display: flex;
    align-items: center;
    
}
.navbar ul li{
    list-style: none;
    margin-right: 45px;
    cursor: pointer;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    
}

button{
    padding: 12px 20px;
    border: 0;
    outline: none;
    color: #7b91ce;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.banner-text{
    width: 60%;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.banner-text h1{
    font-size: 30px;
}
.banner-text p{
    font-size: 18px;
    line-height: 25px;
    margin: 10px 0 20px;
}

.banner-text input{
    width:90%;
    margin: auto;
    background: white;
    padding: 15px;
    box-sizing: border-box;
    border-radius:20px ;
    border: 0;
    outline: none;
}
.suggested{
    font-size: 15px !important;
}
.suggested a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}
.stock{
    width: 80%;
    margin: auto;
    box-sizing: border-box;
    padding: 50px 0 0;
}
h2{
    color: #535353;
    font-size: 30px;
    margin: 30px 0;
}
.row{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    max-height: 1700px;
}
.col{
    width: 31.33%;
    padding-bottom:15px;
}
.col img{
    width: 90%;
    cursor: pointer;
    transition: 0.5s;
}
.col img:hover{
    transform: scale(1.05);
}
.explore-btn{
    text-decoration: none;
    display: block;
    width: 50%;
    max-width: 200px;
    background: #7b91ce;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    padding: 12px 0;
    margin: 60px auto;
    font-size: 18px;
    transition: 0.2s;
}

.explore-btn:hover{
    transform: scale(1.3);
}

.customers{
    width: 80%;
    margin: auto;
    text-align: center;
}
.customer-row{
    display: flex;
    justify-content: space-between;

}
.customer-col{
    flex-basis: 22%;
    transition: 0.2s;
}
.customer-col img{
    width: 150px;
    cursor: pointer;
}
.customer-col:hover{
    transform: translateY(-10px)
}

.about{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 60px;
}
.about p{
    color: #535353;
    font-size: 17px;
    line-height: 25px;
    
}
.copywright{
    padding: 30px 0;
    margin-top:20px;
    text-align: center;
    color: #272727;
    /* width: 80%; */
    margin: auto;
    background-color: #929292;
}